# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
mint79-130.sh
mint0-38.sh
mint39-79.sh
.env
posibleuso.txt
